body{
    background-color: rgb(247, 247, 247);
}

#navbar {
    justify-content: space-around;
    font-size: 20px;
}
p{
    font-size: 25px;
}

div .card{
    box-shadow: 10px 10px 10px rgb(219, 219, 219);
}
